body {
    padding: 0px;
    margin: 0px;
    background-color: #cccccc;
    overflow: auto;
}
tr, td {
    border: none;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
}

ul, li, div {
    list-style-type: none;
}

#MainTable {
    width: 1030px;
    table-layout: fixed;
}

/*左边生产Table*/
.MainTableMiddle {
    width: 760px;
    vertical-align: top;
}

.MainTableLeftTop {
    /*vertical-align: top;*/
    /*font-family: verdana,arial,sans-serif;*/
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;   
}

.MainTableLeftTopTitleTr {
    height: 28px;
    text-align: left;
    vertical-align: middle;
    color: #1e64eb;
    font-size: 13pt;
    font-family: SimHei;
    font-weight: bold;
    background-image: url('../../images/page/tag_blue.png');
    background-color: #c9ffcf;
    background-repeat: no-repeat;
	border-width: 1px;
	padding-left: 15px;
	border-style: solid;
	border-color: #999999;   
}

.MainTableLeftTopTitleTh1 {
    width: 80px;
    color: #ff003f;
    background-color: #b5cfd2;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimHei;
	border-style: solid;
	border-color: #999999;
}

.MainTableLeftTopTitleTh {
    width: 120px;
    color: #ff003f;
    text-align: center;
    background-color: #b5cfd2;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimHei;
	border-style: solid;
	border-color: #999999;
}

.MainTableLeftTopColTitleTd {
    background: #dcddc0;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimHei;
	border-style: solid;
	border-color: #999999;
}

.MainTableLeftTopTd {
    /*background: #dcddc0;*/
    text-align: center;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimSun;
	border-style: solid;
	border-color: #999999;
}

/*左边消耗量Table*/
.MainTableMiddleTop {
    vertical-align: top;
    margin-left: 2px;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;   
}

.MainTableMiddleTopTitleTr {
    height: 28px;
    text-align: left;
    vertical-align: middle;
    color: #1e64eb;
    font-size: 13pt;
    font-family: SimHei;
    font-weight: bold;
    background-image: url('../../images/page/tag_blue.png');
    background-color: #c9ffcf;
    background-repeat: no-repeat;
	border-width: 1px;
	padding-left: 15px;
	border-style: solid;
	border-color: #999999;   
}

.MainTableMiddleTopTitleTh1 {
    width: 90px;
    color: #ff003f;
    background-color: #b5cfd2;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimHei;
	border-style: solid;
	border-color: #999999;
}

.MainTableMiddleTopTitleTh {
    width: 120px;
    color: #ff003f;
    text-align: center;
    background-color: #b5cfd2;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimHei;
	border-style: solid;
	border-color: #999999;
}

.MainTableMiddleTopColTitleTd {
    background: #dcddc0;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimHei;
	border-style: solid;
	border-color: #999999;
}

.MainTableMiddleTopTd {
    /*background: #dcddc0;*/
    text-align: center;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimSun;
	border-style: solid;
	border-color: #999999;
}

/*能源样式*/
.MainTableLeftBottom {
    /*vertical-align: top;*/
    /*font-family: verdana,arial,sans-serif;*/
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;   
}

.MainTableBottomTitleTr {
    height: 28px;
    text-align: left;
    vertical-align: middle;
    color: #1e64eb;
    font-size: 13pt;
    font-family: SimHei;
    font-weight: bold;
    background-image: url('../../images/page/tag_blue.png');
    background-color: #c9ffcf;
    background-repeat: no-repeat;
	border-width: 1px;
	padding-left: 15px;
	border-style: solid;
	border-color: #999999;   
}

.MainTableBottomTitleTh1 {
    width: 80px;
    color: #ff003f;
    background-color: #b5cfd2;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimHei;
	border-style: solid;
	border-color: #999999;
}

.MainTableBottomTitleTh {
    width: 120px;
    color: #ff003f;
    text-align: center;
    background-color: #b5cfd2;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimHei;
	border-style: solid;
	border-color: #999999;
}

.MainTableBottomColTitleTd {
    background: #dcddc0;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimHei;
	border-style: solid;
	border-color: #999999;
}

.MainTableBottomTd {
    /*background: #dcddc0;*/
    text-align: center;
	border-width: 1px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 10pt;
    font-family: SimSun;
	border-style: solid;
	border-color: #999999;
}

.MainTableBottomElecCol3 {
    height: 28px;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 10pt;
    font-family: SimHei;
    font-weight: bold;
    background-repeat: no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;   
}

/*右边生产区域*/
.MainTableRight {
    width: 260px;
    background-color: #eeeeff;
    vertical-align: top;
    margin-left: 3px;
}

/*右边部分*/
.RightSelectStationTd {
    width: 255px;
    height: 25px;
    text-align: left;
    vertical-align: bottom;
}

.RightAccordionTd {
    width: 255px;
    text-align: center;
    vertical-align: top;
    padding-left: 5px;
    padding-top: 5px;
}